### CAPSTONE PROJECT- Car Accident Severity
*Here we are trying to predict the severity of an accident

In [2]:
#performing necessary imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

C:\Users\Vaibhav\anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\Vaibhav\anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [61]:
#reading the data into dataframe
df=pd.read_csv(r"C:\Users\Vaibhav\Downloads\Data-Collisions.csv")

C:\Users\Vaibhav\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (33) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [62]:
#Checking the shape
df.shape

(194673, 38)

In [63]:
#Looking into first 5 Rows
df.head()

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N

In [64]:
#checking for null values
df.isna().sum()

SEVERITYCODE           0
X                   5334
Y                   5334
OBJECTID               0
INCKEY                 0
COLDETKEY              0
REPORTNO               0
STATUS                 0
ADDRTYPE            1926
INTKEY            129603
LOCATION            2677
EXCEPTRSNCODE     109862
EXCEPTRSNDESC     189035
SEVERITYCODE.1         0
SEVERITYDESC           0
COLLISIONTYPE       4904
PERSONCOUNT            0
PEDCOUNT               0
PEDCYLCOUNT            0
VEHCOUNT               0
INCDATE                0
INCDTTM                0
JUNCTIONTYPE        6329
SDOT_COLCODE           0
SDOT_COLDESC           0
INATTENTIONIND    164868
UNDERINFL           4884
WEATHER             5081
ROADCOND            5012
LIGHTCOND           5170
PEDROWNOTGRNT     190006
SDOTCOLNUM         79737
SPEEDING          185340
ST_COLCODE            18
ST_COLDESC          4904
SEGLANEKEY             0
CROSSWALKKEY           0
HITPARKEDCAR           0
dtype: int64

In [65]:
#dropping not required columns
df.drop(["OBJECTID","INCKEY","COLDETKEY","REPORTNO","INTKEY"],inplace=True,axis=1)

In [66]:
df.drop(["SEVERITYCODE.1","STATUS","ADDRTYPE","EXCEPTRSNCODE","EXCEPTRSNDESC"],inplace=True,axis=1)

In [67]:
df.drop(["SDOT_COLCODE","SDOT_COLDESC","SDOTCOLNUM","ST_COLCODE","ST_COLDESC"],inplace=True,axis=1)

In [68]:
df.drop(["SEGLANEKEY","CROSSWALKKEY","HITPARKEDCAR"],inplace=True,axis=1)

In [69]:
df.drop(["INATTENTIONIND","PEDROWNOTGRNT","SPEEDING"],axis=1,inplace=True)

In [70]:
df.drop(["X","Y","SEVERITYDESC"],axis=1,inplace=True)

In [71]:
df.drop("LOCATION",axis=1,inplace=True)

In [72]:
#checking for null values
df.isna().sum()

SEVERITYCODE        0
COLLISIONTYPE    4904
PERSONCOUNT         0
PEDCOUNT            0
PEDCYLCOUNT         0
VEHCOUNT            0
INCDATE             0
INCDTTM             0
JUNCTIONTYPE     6329
UNDERINFL        4884
WEATHER          5081
ROADCOND         5012
LIGHTCOND        5170
dtype: int64

In [73]:
df.shape

(194673, 13)

In [74]:
df.head()

,SEVERITYCODE,COLLISIONTYPE,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,INCDATE,INCDTTM,JUNCTIONTYPE,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND
0,2,Angles,2,0,0,2,2013/03/27 00:00:00+00,3/27/2013 2:54:00 PM,At Intersection (intersection related),N,Overcast,Wet,Daylight
1,1,Sideswipe,2,0,0,2,2006/12/20 00:00:00+00,12/20/2006 6:55:00 PM,Mid-Block (not related to intersection),0,Raining,Wet,Dark - Street Lights On
2,1,Parked Car,4,0,0,3,2004/11/18 00:00:00+00,11/18/2004 10:20:00 AM,Mid-Block (not related to intersection),0,Overcast,Dry,Daylight
3,1,Other,3,0,0,3,2013/03/29 00:00:00+00,3/29/2013 9:26:00 AM,Mid-Block (not related to intersection),N,Clear,Dry,Daylight
4,2,Angles,2,0,0,2,2004/01/28 00:00:00+00,1/28/2004 8:04:00 AM,At Intersection (intersection related),0,Raining,Wet,Daylight

In [75]:
#Filling the null vaues
df.COLLISIONTYPE=df.COLLISIONTYPE.fillna(df.COLLISIONTYPE.mode()[0])
df.JUNCTIONTYPE=df.JUNCTIONTYPE.fillna(df.JUNCTIONTYPE.mode()[0])
df.UNDERINFL=df.UNDERINFL.fillna("N") #filling null values with N so that , driver will be more careful
df.WEATHER=df.WEATHER.fillna(df.WEATHER.mode()[0])
df.ROADCOND=df.ROADCOND.fillna(df.ROADCOND.mode()[0])    
df.LIGHTCOND=df.LIGHTCOND.fillna(df.LIGHTCOND.mode()[0])

In [76]:
#Again checking for null values after filling
df.isna().sum()

SEVERITYCODE     0
COLLISIONTYPE    0
PERSONCOUNT      0
PEDCOUNT         0
PEDCYLCOUNT      0
VEHCOUNT         0
INCDATE          0
INCDTTM          0
JUNCTIONTYPE     0
UNDERINFL        0
WEATHER          0
ROADCOND         0
LIGHTCOND        0
dtype: int64

In [77]:
#checking data types 
df.dtypes

SEVERITYCODE      int64
COLLISIONTYPE    object
PERSONCOUNT       int64
PEDCOUNT          int64
PEDCYLCOUNT       int64
VEHCOUNT          int64
INCDATE          object
INCDTTM          object
JUNCTIONTYPE     object
UNDERINFL        object
WEATHER          object
ROADCOND         object
LIGHTCOND        object
dtype: object

In [78]:
temp=df.INCDATE.apply(lambda x:x[:10])

In [79]:
type(temp)

pandas.core.series.Series

In [80]:
temp

0         2013/03/27
1         2006/12/20
2         2004/11/18
3         2013/03/29
4         2004/01/28
             ...
194668    2018/11/12
194669    2018/12/18
194670    2019/01/19
194671    2019/01/15
194672    2018/11/30
Name: INCDATE, Length: 194673, dtype: object

In [81]:
temp_df=pd.to_datetime(temp,format="%Y/%m/%d")

temp.head()

In [82]:
temp_df.head()

0   2013-03-27
1   2006-12-20
2   2004-11-18
3   2013-03-29
4   2004-01-28
Name: INCDATE, dtype: datetime64[ns]

In [83]:
df.drop("INCDATE",axis=1,inplace=True)

In [84]:
df=pd.concat([df,temp_df],axis=1)

In [85]:
df.head()

,SEVERITYCODE,COLLISIONTYPE,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,INCDTTM,JUNCTIONTYPE,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,INCDATE
0,2,Angles,2,0,0,2,3/27/2013 2:54:00 PM,At Intersection (intersection related),N,Overcast,Wet,Daylight,2013-03-27
1,1,Sideswipe,2,0,0,2,12/20/2006 6:55:00 PM,Mid-Block (not related to intersection),0,Raining,Wet,Dark - Street Lights On,2006-12-20
2,1,Parked Car,4,0,0,3,11/18/2004 10:20:00 AM,Mid-Block (not related to intersection),0,Overcast,Dry,Daylight,2004-11-18
3,1,Other,3,0,0,3,3/29/2013 9:26:00 AM,Mid-Block (not related to intersection),N,Clear,Dry,Daylight,2013-03-29
4,2,Angles,2,0,0,2,1/28/2004 8:04:00 AM,At Intersection (intersection related),0,Raining,Wet,Daylight,2004-01-28

In [86]:
df.drop("INCDTTM",axis=1,inplace=True)

In [87]:
df.head()

,SEVERITYCODE,COLLISIONTYPE,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,JUNCTIONTYPE,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,INCDATE
0,2,Angles,2,0,0,2,At Intersection (intersection related),N,Overcast,Wet,Daylight,2013-03-27
1,1,Sideswipe,2,0,0,2,Mid-Block (not related to intersection),0,Raining,Wet,Dark - Street Lights On,2006-12-20
2,1,Parked Car,4,0,0,3,Mid-Block (not related to intersection),0,Overcast,Dry,Daylight,2004-11-18
3,1,Other,3,0,0,3,Mid-Block (not related to intersection),N,Clear,Dry,Daylight,2013-03-29
4,2,Angles,2,0,0,2,At Intersection (intersection related),0,Raining,Wet,Daylight,2004-01-28

In [88]:
#adding columns for day of week and month
from datetime import datetime as dt

In [89]:
df.INCDATE

0        2013-03-27
1        2006-12-20
2        2004-11-18
3        2013-03-29
4        2004-01-28
            ...
194668   2018-11-12
194669   2018-12-18
194670   2019-01-19
194671   2019-01-15
194672   2018-11-30
Name: INCDATE, Length: 194673, dtype: datetime64[ns]

In [90]:
df["Weekday"]=df.INCDATE.dt.dayofweek

In [91]:
df["Month"]=df.INCDATE.dt.month

In [92]:
#Dropping INCDATE
df.drop("INCDATE",axis=1,inplace=True)

In [93]:
df.head()

,SEVERITYCODE,COLLISIONTYPE,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,JUNCTIONTYPE,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,Weekday,Month
0,2,Angles,2,0,0,2,At Intersection (intersection related),N,Overcast,Wet,Daylight,2,3
1,1,Sideswipe,2,0,0,2,Mid-Block (not related to intersection),0,Raining,Wet,Dark - Street Lights On,2,12
2,1,Parked Car,4,0,0,3,Mid-Block (not related to intersection),0,Overcast,Dry,Daylight,3,11
3,1,Other,3,0,0,3,Mid-Block (not related to intersection),N,Clear,Dry,Daylight,4,3
4,2,Angles,2,0,0,2,At Intersection (intersection related),0,Raining,Wet,Daylight,2,1

In [94]:
#replacing N and Y with 0 and 1 & filling na values with 0
df.UNDERINFL=df.UNDERINFL.map({"N":0,"Y":1})

In [95]:
df.UNDERINFL=df.UNDERINFL.fillna(0)

In [96]:
df.dtypes

SEVERITYCODE       int64
COLLISIONTYPE     object
PERSONCOUNT        int64
PEDCOUNT           int64
PEDCYLCOUNT        int64
VEHCOUNT           int64
JUNCTIONTYPE      object
UNDERINFL        float64
WEATHER           object
ROADCOND          object
LIGHTCOND         object
Weekday            int64
Month              int64
dtype: object

In [97]:
df1=df.copy()

In [98]:
#using label encoder for categorial columns
from sklearn.preprocessing import LabelEncoder
LE=LabelEncoder()

for cols in df1.columns:
    if df[cols].dtype=="object":
        df[cols]=LE.fit_transform(df[cols])

In [99]:
df.head()

,SEVERITYCODE,COLLISIONTYPE,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,JUNCTIONTYPE,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,Weekday,Month
0,2,0,2,0,0,2,1,0.0,4,8,5,2,3
1,1,9,2,0,0,2,4,0.0,6,8,2,2,12
2,1,5,4,0,0,3,4,0.0,4,0,5,3,11
3,1,4,3,0,0,3,4,0.0,1,0,5,4,3
4,2,0,2,0,0,2,1,0.0,6,8,5,2,1

In [55]:
# #using standard scaler for scaling data
# x=df.iloc[:,1:]
# y=df[["SEVERITYCODE"]]
# from sklearn.preprocessing import StandardScaler
# SC=StandardScaler()
# x_scaled=SC.fit_transform(x)
# y_scaled=SC.fit_transform(y)

In [100]:
#importing sklearn tools
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score,f1_score,jaccard_score,confusion_matrix,log_loss

In [101]:
#Performing Train test split
X_train, X_test, y_train, y_test=train_test_split(x,y,test_size=0.25,random_state=10)

### Decision Tree

In [130]:
#Decision tree Model
DT=DecisionTreeClassifier(max_depth=10,min_samples_split=25,min_samples_leaf=10,)
DT.fit(X_train,y_train)
dt_yhat=DT.predict(X_test)
print("Accuray of Decision Tree is: ",accuracy_score(y_test,dt_yhat))
print("Jaccad Score of Decision Tree is: ",jaccard_score(y_test,dt_yhat))
print("F1 score of Decision Tree is: ",f1_score(y_test,dt_yhat,average='macro'))

Accuray of Decision Tree is:  0.7571554788469046
Jaccad Score of Decision Tree is:  0.7321473087818697
F1 score of Decision Tree is:  0.6400253695670657

### Logistic Regression

In [134]:
#Logistic Regression
LR=LogisticRegression(C=8.0,solver='liblinear')
LR.fit(X_train,y_train)
lr_yhat=LR.predict(X_test)
print("Accuracy of Logistic Regression is: ",accuracy_score(y_test,lr_yhat))
print("Jaccad Score of Decision Tree is: ",jaccard_score(y_test,lr_yhat))
print("F1 score of Decision Tree is: ",f1_score(y_test,lr_yhat,average='macro'))
print("Log Loss for logistic regression: ",log_loss(y_test,LR.predict_proba(X_test)))

C:\Users\Vaibhav\anaconda3\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Accuracy of Logistic Regression is:  0.7530049929112987
Jaccad Score of Decision Tree is:  0.7341486609018731
F1 score of Decision Tree is:  0.6057523965213422
Log Loss for logistic regression:  0.5267123242727582

### K Nearest Neighbour

In [136]:
# K Nearest Neighbour
k=int(np.sqrt(len(df)))
KNN=KNeighborsClassifier(k)
KNN.fit(X_train,y_train)
knn_yhat=KNN.predict(X_test)
print("Accuracy score od KNN is: ",accuracy_score(knn_yhat,y_test))
print("F 1 score of K Nearest neighbour: ",f1_score(knn_yhat,y_test))

C:\Users\Vaibhav\anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  after removing the cwd from sys.path.

Accuracy score od KNN is:  0.7329717068359736
F 1 score of K Nearest neighbour:  0.8367664790996784